<div class="row">
  <div class="large-12">
    <h1>Drinks</h1>
    <%= link_to 'add drink', new_drink_path %>
    <div class="form-group search">
      <%= form_tag(drinks_path, method: "get", id: "main-search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Drinks", id: "search", class: "form-control" %>
      <%= submit_tag "Search", name: nil, class: "button" %>
      <% end %>
		</div>

    <%- if !@drinks.empty? -%>

        <%- @drinks.each do |drink| -%>
          <div class="eachDrink colums medium-5">
            <ul><%= drink.description %></ul>
            <ul class="imageDrink"> <img src= <%= drink.image_url %> alt="<%= drink.title %>"> </ul>
            <ul><strong><%= drink.title %></strong> <br><%= drink.season %></ul>

            <ul><strong>THE PARTICULARS: </strong><%= drink.ingredients %></ul>
            <ul><%= drink.instructions %></ul>

            <ul>
              <%= link_to 'Delete',
                '/drinks/' + drink.to_param,
                method: :delete %>
            </ul>
          </div>
        <%- end -%>


    <%- end -%>
  </div>
</div>
